.container {
    transition: all 0.5s ease-in;
  }
  
  .block {
    width: 430px;
    height: 292px;
    background: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    /* justify-content: center;
    align-items: center; */
  }
  .block-title{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .block-title img{
    width: 38px;
    height: 41px;
  }
 .title-sub{
font-family: 'Montserrat';
font-size: 20px;
font-weight: 300;
line-height: 24px;
text-transform: uppercase;
  }
  .items-description{
    font-family:' Montserrat';
font-size: 14px;
font-weight: 700;
line-height: 17px;
width: 300px;
  }
  .item-info{
    font-family: 'Montserrat';
font-size: 12px;
font-weight: 300;
line-height: 15px;
margin-top: 80px;
  }

.scroll{
  width: 150px;
  position: relative;
  top: 700px;
}
  @media screen and (max-width:1991px) {
   .block{
    width: 370px;
   }
  }

  @media screen and (max-width:1250px) {
    .block{
      width: 270px;
     }
     .items-description{
  font-size: 14px;
  width: 200px;
    }
    .item-info{
      margin-top: 30px;
    }
  }


  @media screen and (max-width:991px) {
    .block{
      padding: 5px;
      width: 200px;
      height: 230px;
      gap: 5px;
     }
     .block-title img{
      width: 27px;
      height: 30px;
    }
    .title-sub{
      font-size: 10px;
    }
    .items-description{
      font-size: 14px;
      width: 180px;
        }
        .item-info{
          margin-top: 5px;
        }
  }

  @media screen and (max-width:490px) {
    .block{
      padding: 20px;
      width: 90%;
      height: 230px;
      gap: 5px;
     }
  }