.programs {
  width: 100%;
  background-color: #D9D9D9;
  padding: 120px 60px;
}

.programs-container {
 width: 1800px;
  display: flex;
  justify-content: center;
}

.programs-title {
  color: #000;
  margin-bottom: 25px;
}

.programs-sub-title {
  font-family: 'Montserrat';

  font: 300 20px / normal;
}

.programs-title {
  font-family: 'Montserrat';
  font: 700 36px / normal ;
}

.carousel {
  position: relative;
  width: 430px;
  height: 710px;
}

.carousel_card {
  display: flex;
  position: absolute;
  width: 350px;
  height: 610px;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  padding: 0px 25px;
}

.carousel_card-active {
  opacity: 1;
  pointer-events: visible;
}

.carousel_details-card {
  padding: 25px 0 0 25px;
}

.carousel_card-sub-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.icon {
  width: 33px;
  height: 30px;
  object-fit: cover;
}

.card_sub-title {
  color: #fff;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 13px;
  padding: 10px;
}

.card-title {
  height: 84px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 35px;
}

.card-description {
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;

}

.card_button {
  width: 254px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  position: absolute;
  bottom: 25px;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dots-list {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
}

.dots-list-item {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #000;
  cursor: pointer;
}

.active {
  background-color: #b1b1b1;
}

.item-container {
width:100%;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-left: 20px;
  transition:all 0.5s ease-in-out;
}

.registerBlock {
  width: 430px;
  height: 293px;
  border-radius: 25px;
  background: #000;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 25px;
  padding: 25px;
  font-family: 'Montserrat';
}
.btn-reg{
  position: relative;
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  width: 215px;
  height: 50px;
  border-radius: 25px;
  padding-left:70px;
 transition: .2s;
  
}
.btn-reg:hover{
padding-left:0px;
padding-right: 50px;
color: #fff;
}
.btn-reg span{
  padding-top: 15px;
  position: absolute;
  left: 5px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: #000000;
   transition: .2s;

}
.btn-reg span p {
  opacity: 0;
}
.btn-reg span:hover p {
  opacity: 1;
}
.btn-reg:hover span{
width: 205px;
}
.btn-reg:hover img{
  position: absolute;
  right:20px;
}
.scroll_element{
  padding-left: 1200px;
}


@media screen and (max-width:1991px) {
  .programs-container {
   gap: 30px;
  }
  .programs{
    padding: 90px 50px;

  }
  .scroll_element{
    padding-left: 1000px;
  }
  
  .registerBlock{
   width: 370px;
  }
 }

 @media screen and (max-width:1600px) {
  .programs-container {
    gap:120px;
    width: 1400px;
   }
   .programs{
     padding: 50px 30px;
 
   }
 }
 @media screen and (max-width:1250px) {
  .programs-container {
    gap:70px;
    width: 990px;
     }
   .programs{
    width: 100%;
     padding: 20px 10px;
 
   }
   .registerBlock{
    gap:10px;
      width: 270px;
   }
    .registerBlock h3{
      font-size: 16px;
    }
    .scroll_element{
      padding-left: 900px;
    }
    
 }

 @media screen and (max-width:991px) {
  .registerBlock{
      width: 200px;
      height: 230px;
      padding: 10px;
   }
   .registerBlock h3{
    font-size:12px;
   }
   .registerBlock p{
    font-size: 10px;
   }
   .btn-reg{
    width: 150px;
    height: 35px;
   }
   .btn-reg:hover span{
    width: 145px;
    }
    .btn-reg span{
      width: 30px;
      height: 30px;

    }
    .btn-reg img{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10px;
    }
    .scroll_element{
      padding-top: 20px;
      padding-left: 600px;
    }
    
 
 }
 @media screen and (max-width:820px) {
  .programs-container {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .item-container {
    flex-wrap: wrap;
  }
  .scroll_element{
    padding-left: 0px;
  }
  

 }
 @media screen and (max-width:490px) {
  .registerBlock{
    padding: 25px;
    width: 90%;
    height: 230px;
    gap: 25px;
   }
   .btn-reg{
    padding: 0px 36px;
   }
}

@media screen and (max-width:380px) {
  .carousel {
    width: 300px;
    height: 650px;
  }
  .carousel_card{
    width: 290px;
  }
  .programs{
    padding:3px;
  }
  .card-description {
    margin-top: 150px;
  }
  .card_button {
    width: 204px;
    height: 50px;
  }
}